h1 {
    font-weight: bold;
}

img {
    margin-left: 2em;
}

#checkbox {
    justify-content: center;
}

a:link {
  background-color: gold;
  color: green;
}

.inset-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}