
.main {
    margin-left: auto;
    margin-right: auto;
}

/*div{
    margin-left: 5em;
    margin-right: 5em;
    justify-content: center;
   padding-left: 10em;; 
}*/

section {
    margin: 10px 20px 10px 20px;
    border: 2px solid black;
    padding-left: 10px;
}


/*.container {
    justify-content: center;
}*/


a:link {
    color: black;
}

a:hover {
    color: gold;
    background-color: grey;
}

a:active {
    color: red;
}

.contact {
    font-style: italic;
}